# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Node
node_modules/
npm-debug.log*

# Build
site/
_build/

# IDE
.vscode/
.idea/
*.sublime-*

# MkDocs
.cache/

# Logs
*.log
